*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(211, 213, 214);
}
.firstsection{
    background-color: white;
    border: 1px solid rgb(175, 68, 68);
    width: 90%;
    margin: auto;
}
.subdiv{
    /* border: 1px solid black; */
    width: 33%;

}
.subdiv button{
    background-color: black;
    color: white;
    margin-left: 15%;
    margin-top: 10%;
    padding: 5px 9px;
    border-radius: 5px;
}
.subdiv button a{
    color: white;
    text-decoration: none;
}
.laptop img{
    width: 100%;
}
.firstflex{
    display: flex;
}
.subdiv2{
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 20px;
}
.subdiv2 h4{
    padding-top: 5%;
    font-size: 17px;
    padding-bottom: 5%;
}
li{
    font-size: 15px;
}
ul{
    margin-left: 4%;
    padding: 15px 0px;
}
.free{
    background-color: rgb(245, 251, 255);
    width: 70%;
   padding: 12px;
   font-size: 13px;
   color: green;
   border-bottom: 1px solid gainsboro;
}
.stock{
    display: flex;
    padding: 15px;
}
.stock p{
    margin-left: 5px;
    font-size: 13px;
}
.qty{
    font-size: 17px;
}
.cart{
    display: flex;
    padding-bottom: 6px;
}
.cart h1{
    /* border: 1px solid khaki; */
    padding: 6px 19px;
}
.cart button{
    background-color: lime;
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
    margin-left: 12px;
    margin-right: 12px;
    
}
.cart button a{
    color: white;
    text-decoration: none;
}
#loveimg{
    width: 10%;
    height: 38px;
    border-radius: 50px;
    margin-top: 9px;
}
.safe p{ 
    padding: 5px;
}
.sku{
    padding: 13px;
}
.sku span{
    font-weight: 200;
    font-family:  monospace;
}
.allcart{
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    padding: 12px;
    width: 90%;
}
.Pinnaple{
    display:flex ;
    /* border: 1px solid red; */
    width: 100%;
}
.Pinnaple h6{
    margin-top: 5%;
    width: 70%;
    font-size: 15px;
    padding-left:20px ;
}
.Pinnaple p{
    padding-left:20px ;
}
.view{
    display: flex;
    margin-top: 5px;
}
.view .button1 {
    padding: 12px 19px;
    background-color: black;
    border: none;
    border-radius: 5px;
}
.view .button2 {
    padding: 12px 19px;
    background-color: rgb(10, 175, 38);
    border: none;
    border-radius: 5px;
    margin-left: 7px;
}
.view a {
   color: aliceblue;
   text-decoration: none;
}
.ship{
    display: flex;
    margin-top: 10px;
}
.ship img{
    margin-right: 5px;
}
.product{
    border: 5px sold black;
    width: 20%;
    /* background-color: aqua; */
    margin-left: 3%;
    margin-top: 3%;
}
.num{
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
.product h3{
    color: red;
    padding: 12px 0px;
}
del{
    color: gray;
    font-size: 15px;
}
.shipping{
    font-size: 13px;
    padding: 12px 0px;
    color: lime;
    /* border: 1px solid black; */
}
.phoneflex{
    display: flex;
    flex-direction: row;
}
#dot{
    margin-top: -16px;
    margin-left:19px ;
}
.flexpart{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.review{
    display: flex;
   justify-content: space-between;
   width: 40%;
   padding: 15px ;
}

.imgflex{
    display: flex;
}
.imgflex img{
    width: 100%;
    padding: 15px 0px;
}
.det4{
    width: 100%;
}
.section2 p{
 padding: 12px;
}
#Galaxy{
    text-align: center;
}
.section2 h2{
    padding: 12px;
}
.pro{
    display: flex;
    background-color: rgb(207, 199, 199);
    padding: 12px;
}
.pro p{
    margin-left: 12px;
}
.price{
    display: flex;
    justify-content: space-around;
    padding: 12px;
    /* margin-left: 20px; */
    /* border: 1px solid rebeccapurple; */
    width: 80%;
    margin: auto;
}
.price1{
    display: flex;
    /* justify-content: space-around; */
    padding: 12px;
    /* border: 1px solid rebeccapurple; */
    width: 100%;
    margin: auto;
    margin-left: 205;
   
}
.Mac{
    /* border: 1px solid rebeccapurple; */
    margin-left:10%;
}
.pri{
    margin-left:8%;
   
}
.pri1{
    margin-left:12%;
    border: 1px solid gray;
    height: 19px;
    padding:  0px 15px;
    
}
.pri2{
    margin-left:19%;
}
.view1{
    display: flex;
    margin-top: 5px;
    justify-content: end;
    padding: 12px;
    
}
.view1 .button1 {
    padding: 12px 19px;
    background-color: black;
    border: none;
    border-radius: 5px;
}
.view1 .button2 {
    padding: 12px 19px;
    background-color: rgb(10, 175, 38);
    border: none;
    border-radius: 5px;
    margin-left: 7px;
}
.view1 a {
   color: aliceblue;
   text-decoration: none;
}
.log{
    display: flex;
    background-color: rgb(206, 206, 206);
    border-radius: 6px;
    padding: 12px 90px;
}
.link{
    display: flex;
    justify-content: space-around;
}
.log a {
    color: red;
    padding: 5px;
}
/* form */
.flex{
    display: flex !important;
    flex-direction: row;
    justify-content:space-around ;
    /* border: 1px solid red; */
    padding: 12px;
    width: 95%;
    margin-left: 2%;
}

.form{
   padding: 35px;
}
.sub{
    display: flex;
}
.Billing{
    display: flex;
    width: 100%;
}
.detail{
    width: 70%;
    /* border: 1px solid red; */
    padding: 12px;
}
 .text input{
    width: 100%;
    padding: 10px 0px;
    margin-top: 2%;
    border: 1px solid rgb(177, 177, 182);

}
.text{
    display: flex;
    flex-direction:column;
    /* border: 1px solid blue; */
    width: 100%;
    padding: 12px;
}
#select{
  width: 100%; 
  padding: 10px 0px; 
}
.text1{
    display: flex;
    flex-direction:column;
    /* border: 1px solid blue; */
    width: 50%;
    padding: 12px;
}
.text1 input{
    width: 100%;
    padding: 10px 0px;
    border: 1px solid rgb(177, 177, 182);
}
textarea{
    width: 100%;
}

.phones{
    display: flex;
}
.paymentcard img{
    width: 90%;
}
.your{
    margin-top: 10%;
   
}
legend{
    margin-top: 5%;
    margin-left: 5%;
}
.view2{
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
}
.add h4{
    padding: 5px;
}





 


