*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter;
    background-color: rgb(226, 228, 235);
   
}
.header{
    display: flex;
    /* border: 1px solid red; */
    padding: 10px;
    list-style-type: none;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0;
    border-radius: 5px;
    
}
.header a{
    text-decoration: none;
}

.header a:link,
.header a:visited {
    color: rgb(140, 140, 140);
}

.header a:hover,
.header:active {
    color: black ;
}


.fl{
    display: flex;
    gap: 30px;
}
.bodi{
    border: 1px solid brown; 
    background-color: white;
    padding: 20px;
}

.rh{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid yellow;  */
    margin-top: 20px;
    gap: 20px;
}
.return{
    /* border: 1px solid red; */
    padding: 10px; 
    width: 60%;
    background-color: rgb(226, 228, 235);
    border-radius: 5px;
}
.return a{
    color: red;
}
.have{
    /* border: 1px solid blue; */
    padding: 10px;
    width: 40%;
    background-color: rgb(226, 228, 235);
    border-radius: 5px;
}
.have a{
    color: red;
}
h4{
    /* border: 1px solid blue; */
    margin-top: 20px;
}
.star{
    color: red;
}
.fl{
    /* border: 1px solid red; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.form1{
    width: 50%;
    /* border: 1px solid red; */
}

.form1 .in{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    /* border: 1px solid blue; */
}

.form2{
    width: 50%;
    /* border: 1px solid blue; */
}
.form2 .in{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.form3{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
}
.form3 .in{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.form4{
    /* border: 1px solid red; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
}
.form4 .in{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.form5{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px; 
}
.form5 .in{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.form6{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;  
}
.form6 .in{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.form7{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px; 
}
.form7 .in{
    width: 100%;
    padding: 5px;
    margin-top: 10px; 
}
.form8{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px; 
}
.form8 .in{
    width: 100%;
    padding: 5px;
    margin-top: 10px; 
}
.form9{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px; 
}
.form9 .in{
    width: 100%;
    padding: 5px;
    margin-top: 10px;  
}
.form10{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px; 
}
.form10 .in{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}
.form11{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px; 
}
h4{
    /* border: 1px solid blue;   */
    padding: 10px;
}
.form12{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
}
.form12 textarea{
    width: 100%;
    /* height: 40px; */
    padding: 5px;
    margin-top: 10px;
}

.form-order{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
}
form{
    width: 50%;
    /* border: 3px solid blue; */
}
.order{
    width: 50%;
    /* border: 3px solid yellow; */
    
}
.form-order{
    /* border: 3px solid red; */
    width: 100%;
    gap: 20px;
}

.product{
    background-color: rgb(237, 239, 245);
}
.direct{
    background-color: rgb(223, 225, 233);
}
.pro-sub{
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */

    padding: 20px;
}
.image-pine{
    /* border: 3px solid yellow; */
    padding: 20px;
    display: flex;
    gap: 10px;
    
}
.world-red{
    /* border: 3px solid yellow; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.direct{
    /* border: 3px solid yellow; */
line-height: 30px;
padding: 20px;
}
.last-group{
    display: flex;
    justify-content: space-between;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(26, 185, 26);
}
=======
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex1{
    display: flex;
    width: 100%;
    margin-top: 20px;
    color: white;
}
.img1{
    background-image: url(/image/slider3.png.png);
    background-repeat: no-repeat;
    padding: 20px;
    text-align: justify;
    border-radius: 8px;
    width: 70%;
    height: 350px;
}
.hi h3{
    color: black;
}
.hi p{
    color: black;
}
.hey{
    margin-top: 10px;
    margin-left: 20px;
    line-height: 1.4;
}
.hey2{
    margin-top: 10px;
    margin-left: 40px;
    line-height: 1.4;
}
button{
    margin-left: 18px;
    margin-top: 10px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.img2{
    background-image: url(/image/banner1.png.png);
    background-repeat: no-repeat;
    width: 30%;
    padding: 20px;
}
.btn{
    background-color: black;
    color: white;
    float: right;
    margin-top: -60px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.hello{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    /* border-radius: 10px; */
    /* border: 2px solid red; */
}
.iphone{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.hello1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    /* border-radius: 10px; */
    padding: 20px;
    /* border: 2px solid red; */
}
.hello1 .iphone img{
    width: 50px;
}
.flex2{
    /* border: 2px solid yellow; */
    border-radius: 15px;
}
.flex2 h2{
    margin-left: 30px;
}
.hello3{
    /* border: 2px solid red; */
    width: 30%;
    padding: 20px;
}
.hello3 h2{
    margin-top: 10px;
}
.all{
    /* border: 2px solid green; */
    background-color: #EDEEF5;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
    margin-top: 20px;
}
.exter{
    border: 2px solid grey;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;
}
.hello4{
    display: flex;
    margin-left: 30px;
    /* border: 3px solid purple; */
    justify-content: space-around;
}
 .para{
    margin-top: 20px;
    /* border: 2px solid green; */
    background-color: green;
    border-radius: 5px;
    border: none;
    width: 80px;
    color: white;
    padding: 5px;
    margin-left: 10px;
}
.sub{
    /* border: 2px solid red; */
    padding: 20px;
}
.presido{
    display: flex;
    margin-left: 30px;
    /* border: 3px solid purple; */
    justify-content: space-around;
    
}
.presido h3{
    font-size: 18px;
}
.general{
    /* border: 3px solid yellow; */
    padding: 20px;
    width: 70%;
}
.section{
    display: flex;
}

.txt1 h3{
font-size: 12px;
width: 155px;
line-height: 1.5;
}
.txt1 p{
    line-height: 1.6;
}
.txt1 .par{
    color: red;
}
.txt1 .spa{
    color: black;
    font-size: 12px;
}
.pre{
    color: green;
    margin-top: 10px;
}
.txt2 h3{ 
    font-size: 14px;
    width: 170px; 
    line-height: 1.5; 
}
.txt2 p{
    line-height: 1.6;
}
.txt3 h3{
    font-size: 14px;
    line-height: 1.5;
}
.txt3 p{
    line-height: 1.6;
}
.txt3 .par{
    color: red;
}
.txt3 .spa{
    color: black;
    font-size: 12px;
}
.txt4 h3{
    width: 130px;
    font-size: 12px;
    line-height: 1.5;
}
.txt4 .par{
    color: red;
}
.txt4 .spa{
    color: black;
    font-size: 12px;
}
.general1{
    margin-bottom: 180px;
    /* border: 3px solid red; */
    width: 70%;
}
.hello31{
    background-color: #EDEEF5;
    margin-bottom: 150px;
    width: 27%;
    margin-left: 25px;
    /* border: 2px solid yellow; */
    padding: 30px;
    border-radius: 10px;
    /* line-height: 1.8; */
}
.red{
    /* border: 2px solid red; */
    margin-top: 20px;
}
.exter1{
    margin-top: 20px;
    margin-right: 60px;
}
.exter1 .pay{
    padding: 20px;
}

.txt12 h3{
    font-size: 14px;
}
.txt12 .par{
    color: red;
}
.txt12 .spa{
    color: black;
    font-size: 12px;
}
.txt12{
    width: 22%;
    line-height: 1.6;
}
.txt21{
    width: 22%;
    margin-right: 40px;
    line-height: 1.6;
}
.txt21 h3{
font-size: 12px;
margin-left: 20px;
}
.txt21 p{
    margin-left: 20px;
}
.txt31 h3{
    font-size: 14px;
}
.txt31{
    width: 25%;
    margin-right: 30px;
    line-height: 1.6;
}
.txt31 .par{
    color: green;
    border-radius: 5px;
    font-size: 14px;
    /* background-color: rgba(207, 202, 202, 0.957); */
    padding: 3px;
}
.txt31 .spa{
    color: red;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 14px;
    /* background-color: rgba(207, 202, 202, 0.957); */
    padding: 3px;
}
.txt41{
    width: 22%;
}
.txt41 h3{
    font-size: 14px;
}
.txt41 .par{
color: red;
}
.txt41 .spa{
    color: black;
    font-size: 12px;
}
.txt12 .par{
    color: black;
    font-weight: bold;
}
.txt21 .par{
    color: red;
    font-weight: bold;
}
.txt21 .spa{
    color: black;
    font-size: 10px;
}
.txt21 pre{
    color: green;
}
.txt21{
    line-height: 1.6;
}
.general12{
    margin-top: -10%;
}
.hello35{
    /* border: 2px solid red; */
    margin-top: -15%;
    margin-left: 25px;
    background-color: #EDEEF5;
    padding: 10px;
    width: 39%;
}
.all12 img{
    /* border: 2px solid red; */
    width: 100%;
}
.hello311{
    background-color: #EDEEF5;
    margin-top: -160px;
    width: 27%;
    margin-left: 25px;
    /* border: 2px solid yellow; */
    padding: 30px;
    border-radius: 10px;
    height: 450px;
}
.general11{
    /* border: 2px solid red; */
    margin-top: -420px;
    width: 70%;
}

